<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
		<title>Windows config templates</title>

		<script src="page.js"></script>
		
		<style>
			/* Muh keyboard navigation */
			input:focus-visible {
				outline: .3em solid white;
			}
		</style>
	</head>
	<body onload="Init()">
		<main class="container">
		<h1 style="margin-bottom: 0">Windows config templates</h1>
		<p>Based on $GIT_HASH</p>
		<p>Pick the options you want or start from a preset, then click generate to get the configuration scripts. You'll get a REG file with the registry changes and a bat file with commands to launch.</p>
		<label for="preset">Select a preset</label>
		<select id="preset" name="preset" onchange="OnPresetChanged()">
            $PAGE_PRESETS
        </select>
		$PAGE_CONTENT
		<br>
		<div class="grid">
			<button onclick="GenerateReg('all')">Generate REG</button>
			<button onclick="GenerateBat()">Generate BAT</button>
		</div>		
		<p>If your user does not have administrator privileges you will first need to run the process in three different steps: <br>
		<ol>
			<li>Register the user-only reg without admin</li>
			<li>Register the machine-wide reg with admin rights</li>
			<li>Run the bat file as admin</li>
		</ol></p>
		<div class="grid">
			<button onclick="GenerateReg('user')">Reg CURRENT_USER only</button>
			<button onclick="GenerateReg('admin')">Reg LOCAL_MACHINE only</button>
		</div>
	</main>
	</body>
</html>